@model HouseBlog.ViewModels.LoginViewModel
    <link rel="stylesheet" href="~/css/login.css" />

<div class="logining">
    <div class="centering">
            <h1>Local Login</h1>
            <form method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="txt-field">
                    <label asp-for="Email"></label><br />
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="txt-field">
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="pass">
                    <label asp-for="RememberMe"></label><br />
                    <input asp-for="RememberMe" />
                </div>
                <div>
                    <input type="submit" value="Войти" />
                </div>
            </form>
        
    </div>
    
</div>

<!--<div class="center">
    <h1>Login</h1>
    <form method="post">
        <div class="txt-field">
            <input type="text" required />
        </div>
    </form>
</div>-->