<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HouseBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">


</head>
<body>
    <header style="background-color:#449cdb; justify-content: space-between" class="head">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  ">
            <div class="container">
                <a style="color:#fff" class="navbar-brand" asp-area="" asp-page="/Index">HouseBlog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="justify-content: right" class="navbar-collapse ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="color:#fff" class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #fff" class="nav-link" asp-controller="Houses" asp-action="Index">Дома</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:#fff" class="nav-link" asp-controller="Posts" asp-action="Index">Блог</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a style="color:#fff" class="nav-link"> @User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input style="color:#fff; background-color: #449cdb; border: none; background: none; outline: none;" class="nav-link" type="submit" value="Выход" />
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a style="color:#fff" class="nav-link" asp-controller="Account" asp-action="Login">Вход</a>
                            </li>
                            <li class="nav-item">
                                <a style="color:#fff" class="nav-link" asp-controller="Account" asp-action="Register">Регистрация</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - HouseBlog - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/main.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
