@{
    ViewData["Title"] = "Info";
}
<div class="container">
    <div class="row">
        <div class="col" style="margin-top: 50px;">
            <h4 class="text-center border rounded" style="background-color:white">@ViewData["Info"]</h4>
        </div>
    </div>
</div>